USE [HPHMED]
 
CREATE TABLE [dbo].[Medicos_Credencializados](
	[resguardo] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](30) NULL,
	[nombre] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[especialidad] [varchar](50) NULL,
	[email] [varchar](40) NULL,
	[celular] [varchar](10) NULL,
	[f_nac] [date] NULL,
	[solicitud] [bit] NULL,
	[cv] [bit] NULL,
	[titulo_lic] [bit] NULL,
	[titulo_esp] [bit] NULL,
	[diploma_esp] [bit] NULL,
	[cedula_lic] [bit] NULL,
	[cedula_lic_num] [varchar](50) NULL,
	[cedula_esp] [bit] NULL,
	[cedula_esp_num] [varchar](50) NULL,
	[subespe] [varchar](50) NULL,
	[certificacion_año] [date] NULL,
	[certificacion_actual] [date] NULL,
	[rfc] [varchar](18) NULL,
	[poliza_rc] [date] NULL,
	[ine] [bit] NULL,
	[estatus] [varchar](50) NULL,
	[comentarios] [varchar](100) NULL,
 CONSTRAINT [PK_Medicos_Credencializados] PRIMARY KEY CLUSTERED 
(
	[resguardo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/07/2025 01:01:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[usuario] [varchar](10) NULL,
	[contraseña] [varchar](8) NULL,
	[rol] [varchar](20) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
