body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: fixed;
}
.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a span {
    font-size: 1.2rem;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.toggle-button {
    position: fixed;
    top: 2px;
    right: 2px;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

.sidebar {
    width: 250px;
    background-color: #282c34;
    opacity: 0.94;
    color: white;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 10;
}

.sidebar.visible {
    transform: translateX(0);
}

.sidebar.hidden {
    transform: translateX(-77%);
}

.profile-container {
    text-align: center;
    margin-top: 40px;
}
  
.profile-icon {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid #fff;
    background-color: #000;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .toggle-button {
        top: 1px;
        left: 1px;
    }

    .sidebar.hidden {
        transform: translateX(-72%);
    }
    .sidebar ul li a span {
        font-size: 1.4rem; 
    }

    .sidebar ul li a {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 210px;
    }

    .sidebar ul li {
        margin: 10px 0;
    }

    .sidebar ul li a {
        font-size: .8rem;
        padding: 5px;
        width: 98%;
    }

    .sidebar ul li a span {
        font-size: 1.5rem;
    }

    .sidebar.hidden {
        transform: translateX(-80%);
    }

    .toggle-button {
        padding: 8px 13px;
        top: 1px;
        left: 1px;
    }
}