/*________________ANIMATIONS______________*/
/*------------ SHADOW */
.shadow-out-container-light-infinite {
	-webkit-animation: shadow-out-container-light 1.0s ease-out infinite alternate-reverse both;
	        animation: shadow-out-container-light 1.0s ease-out infinite alternate-reverse both;
}
.shadow-out-container-dark-infinite {
	-webkit-animation: shadow-out-container-dark 1.0s ease-out infinite alternate-reverse both;
	        animation: shadow-out-container-dark 1.0s ease-out infinite alternate-reverse both;
}
.shadow-text-light-infinite {
	-webkit-animation: shadow-text-light 0.8s infinite alternate;
	        animation: shadow-text-light 0.8s infinite alternate;
}
.shadow-text-dark-infinite {
	-webkit-animation: shadow-text-dark 0.8s infinite alternate;
	        animation: shadow-text-dark 0.8s infinite alternate;
}
/*------------ SHADOW */
/*________________ANIMATIONS______________*/

/*________________SHADOW______________*/
@-webkit-keyframes shadow-out-container-light {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgb(0, 0, 0);
                box-shadow: 0 0 20px 0px rgb(0, 0, 0);
        }
}
@keyframes shadow-out-container-light {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgb(0, 0, 0);
                box-shadow: 0 0 20px 0px rgb(0, 0, 0);
        }
}
@-webkit-keyframes shadow-out-container-dark {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgb(255, 255, 255);
                box-shadow: 0 0 20px 0px rgb(255, 255, 255);
        }
}
@keyframes shadow-out-container-dark {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgb(255, 255, 255);
                box-shadow: 0 0 20px 0px rgb(255, 255, 255);
        }
}
@-webkit-keyframes shadow-text-light {
        0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        text-shadow: 0 0 16px rgb(0, 0, 0);
        }
}
@keyframes shadow-text-light {
        0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        text-shadow: 0 0 16px rgb(0, 0, 0);
        }
}
@-webkit-keyframes shadow-text-dark {
        0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        text-shadow: 0 0 16px rgb(255, 255, 255);
        }
}
@keyframes shadow-text-dark {
        0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        text-shadow: 0 0 16px rgb(255, 255, 255);
        }
}
/*________________SHADOW______________*/