/*________________ANIMATIONS______________*/
/*------------ SCALE */
.scale {
	-webkit-animation: scale 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*------------ SCALE */
/*------------ COMBINED */
.scale-shadow-in-light {
    -webkit-animation:
        scale 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940),
        shadow-in-light 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation: 
        scale 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940),
        shadow-in-light 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
}
.scale-shadow-in-dark {
    -webkit-animation:
        scale 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940),
        shadow-in-dark 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation: 
        scale 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940),
        shadow-in-dark 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
}
.roll-in-left-shadow-pop-light {
	-webkit-animation: 
        roll-in-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both,
        shadow-pop-light 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both 0.65s;
    animation: 
        roll-in-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both,
        shadow-pop-light 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both 0.65s;
}
.roll-in-left-shadow-pop-dark {
	-webkit-animation: 
        roll-in-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both,
        shadow-pop-dark 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both 0.65s;
    animation: 
        roll-in-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both,
        shadow-pop-dark 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both 0.65s;
}
/*------------ COMBINED */
/*________________ANIMATIONS______________*/

/*________________SCALE_______________*/
@-webkit-keyframes scale {
    0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    }
}
@keyframes scale {
    0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    }
}
/*________________SCALE_______________*/