
.app-container {
    background-color:aliceblue;
    display: flex;
    height: auto;
    flex-direction: column;
    overflow-y: scroll;   
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.app-container::-webkit-scrollbar {
    display: none;
}